
body {
    font-family: 'CoreCircus', sans-serif;
}

/* .big_container {

    height: 23vh;
    width: 31vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ebeef1;
    border-radius: 20px;

} */


h2 {
    color: #f98ca4;
    font-size: 3.5rem;
    padding: 1rem;
	letter-spacing: -0.225rem;
    z-index: 1;
	text-shadow: 
		-1px -1px 0 #6e1f58, 
		1px -1px 0 #6e1f58, 
		-1px 1px 0 #6e1f58, 
		1px 1px 0 #6e1f58,
		1px 0px 0px #24c447, 
		0px 1px 0px #24c447, 
		2px 1px 0px #24c447, 
		1px 2px 0px #24c447, 
		3px 2px 0px #24c447, 
		2px 3px 0px #24c447, 
		4px 3px 0px #24c447, 
		3px 4px 0px #24c447, 
		5px 4px 0px #24c447,
		3px 5px 0px #6e1f58, 
		6px 5px 0px #6e1f58,
		-1px 2px 0 rgb(151, 151, 151), 
		0 3px 0 #6e1f58, 
		1px 4px 0 #6e1f58, 
		2px 5px 0px #6e1f58,
		2px -1px 0 #6e1f58, 
		3px 0 0 #6e1f58, 
		4px 1px 0 #6e1f58, 
		5px 2px 0px #6e1f58, 
		6px 3px 0 #6e1f58, 
		7px 4px 0 #6e1f58,
		10px 8px 10px #8b8b8b;
        border-top: 1px solid #e7e7e7;
        border-left: 1px solid #e7e7e7;
        border-radius: 10px;
        box-shadow: 10px 10px 10px -1px rgba(113, 175, 223, 0.16), -10px -10px 10px -1px rgba(233, 233, 233, 0.7);
}

h3 {
    color: #f98ca4;
    font-size: 2rem;
    padding: 1rem;
	letter-spacing: -0.225rem;
    z-index: 1;
	text-shadow: 
		-1px -1px 0 #6e1f58, 
		1px -1px 0 #6e1f58, 
		-1px 1px 0 #6e1f58, 
		1px 1px 0 #6e1f58,
		1px 0px 0px #24c447, 
		0px 1px 0px #24c447, 
		2px 1px 0px #24c447, 
		1px 2px 0px #24c447, 
		3px 2px 0px #24c447, 
		2px 3px 0px #24c447, 
		4px 3px 0px #24c447, 
		3px 4px 0px #24c447, 
		5px 4px 0px #24c447,
		3px 5px 0px #6e1f58, 
		6px 5px 0px #6e1f58,
		-1px 2px 0 rgb(151, 151, 151), 
		0 3px 0 #6e1f58, 
		1px 4px 0 #6e1f58, 
		2px 5px 0px #6e1f58,
		2px -1px 0 #6e1f58, 
		3px 0 0 #6e1f58, 
		4px 1px 0 #6e1f58, 
		5px 2px 0px #6e1f58, 
		6px 3px 0 #6e1f58, 
		7px 4px 0 #6e1f58,
		10px 8px 10px #8b8b8b;
        border-top: 1px solid #e7e7e7;
        border-left: 1px solid #e7e7e7;
        border-radius: 10px;
        box-shadow: 10px 10px 10px -1px rgba(113, 175, 223, 0.16), -10px -10px 10px -1px rgba(233, 233, 233, 0.7);
}

.small_container {
    height: 30vh;
    width: 40vw;
    margin: 20px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(#ebeef1, #d9dde0, #cfd2d5) ;
    border: 1px solid #a9b1b7;
    border-top: 1px solid white;
    border-left: 1px solid white;
    box-shadow: inset 0 5px 8px #f8f8f8, 0 5px 10px #934a5c, 0 15px 30px #96607d
}

.btn_container {
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 35px;
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    border-radius: 10px;
    box-shadow: 10px 10px 10px -1px rgba(113, 175, 223, 0.16), -10px -10px 10px -1px rgba(233, 233, 233, 0.7);
}

button {
    /* border-right: 1px solid #a1a2a2;
    border-bottom: 1px solid #a1a2a2;
    border-top: 1px solid #fdffff;
    border-left: 1px solid #ffffff; */
    /* background: transparent; */

    background: linear-gradient(#208bf7, #5392c2, #0f5aa6) ;
    border: none;
    color: #e2eefc;
    border-radius: 5px;
    /* box-shadow: 10px 10px 10px -1px rgba(10, 90, 151, 0.16), -10px -10px 10px -1px rgba(213, 212, 212, 0.7); */
}

button:active {
    background: linear-gradient(#519fed, #598fb8, #1d66af); 
    transform: scale(0.96);
}

/* border-right: 1px solid #a1a2a2;
border-bottom: 1px solid #a1a2a2;
border-top: 1px solid #fdffff;
border-left: 1px solid #ffffff;
color: #00a037;
box-shadow: 
10px 10px 10px -1px rgba(10, 99, 169, 0.16),
inset 0 2px 5px #c8c8c8;  */
/* -10px -10px 10px -1px rgba(255, 255, 255, 0.70),  */